
.userDataStyle
{
	behavior:	url(#default#userData);
}

@media all
{
	tool\:tip{behavior: url(../local/tooltip.htc)}
}

/*
Commenting out for ACT builds
body
{
	background:	#FFFFFF;
	color: #000000;
	font-family:	Verdana;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	margin-top:	0;
	margin-bottom:	0;
	margin-left:	0;
	margin-right:	0;
	width:	100%;
}

a
{
	color:	#0000FF;
}

a:visited
{
	color:	#0000FF;
}

a:hover
{
	color:	#3366FF;
}

div.#mainSection
{
	font-size: 70%;
	width: 100%;
}

div.#mainBody
{
	font-size: 90%;
	margin-left:	5;
	margin-top: 10;
	padding-bottom: 20;
}

div.#header
{
	background-color: #D4DFFF;
	padding-top:	0;
	padding-bottom:	0;
	padding-left:	0;
	padding-right:	0;
	width:	100%;
}

div.#header table
{
	border-bottom-color: #C8CDDE;
	border-bottom-style: solid;
	border-bottom-width: 1;
	width:	100%;
}

span.#runningHeaderText
{
	color: #003399;
	font-size: 90%;
}

span.#nsrTitle
{
	color: #003399;
	font-size: 120%;
	font-weight: 600;
}


div.#header table td
{
	color: #0000FF;
	font-size: 70%;
	margin-top:	0;
	margin-bottom:	0;
	padding-right: 20;
}
div.#header table tr.#headerTableRow3 td
{
	background:none;
	padding-bottom: 2;
	padding-top: 5;
}
div.#header table.#bottomTable
{
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1;
	text-align: left;
}
*/

div.#footer
{
	font-size: 100%;
	margin-top:	0;
	margin-bottom:	0;
	margin-left:	0;
	margin-right:	0;
	padding-top:	2;
	padding-bottom:	2;
	padding-left:	2;
	padding-right:	2;
	width:	100%;
}

hr.#footerHR
{
	border-bottom-color: #EEEEFF;
	border-bottom-style: solid;
	border-bottom-width: 1;
	border-top-color: C8CDDE;
	border-top-style: solid;
	border-top-width: 1;
	height: 3;
	color: #D4DFFF;
}

div.saveHistory
{
	behavior:url(#default#saveHistory);
}

div.section
{
	padding-top:	2;
	padding-bottom:	2;
	padding-left:	16;
	padding-right:	15;
	width:	100%;
}

.heading
{
	font-weight:	bold;
	margin-top:		18;
	margin-bottom:	8;
}

h1.heading
{
	font-size:	110%;
}

.subHeading
{
	font-weight:	bold;
	margin-bottom:	4;
}

h3.subHeading
{
	color:  #000066;
	font-size: 100%;
    font-weight: normal;
}

h4.subHeading
{
	color: #000000;
	font-size: 100%;
}

img.toggle
{
	border: 0;
	margin-right: 5;
}

img.copyCodeImage
{
	border: 0;
	margin-right: 3;
}

img.downloadCodeImage
{
	border: 0;
	margin-right: 3;
}

img.viewCodeImage
{
	border: 0;
	margin-right: 3;
}

img.note
{
	border: 0;
	margin-right: 3;
}

img.#languageFilterImage
{
	border: 0;
	margin-left: 10;
	vertical-align: middle;
}

img.#membersOptionsFilterImage
{
	border: 0;
	margin-left: 10;
	vertical-align: middle;
}

img.#toggleAllImage
{
	margin-left: 4;
	vertical-align: middle;
}

div.#mainSection table
{
	font-size: 100%;
	width:	100%;
}

/*div.#mainSection table th
{
	background:	#EFEFF7;
	border-bottom-color: #C8CDDE;
	border-bottom-style: solid;
	border-bottom-width: 1;
	color: #000066;
	padding-left: 5;
	padding-right: 5;
}

div.#mainSection table td
{
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1;
	padding-left: 5;
	padding-right: 5;
}
*/
div.#mainSection table td.imageCell
{
	white-space: nowrap;
}

div.code table
{
	border: 0;
	font-size: 95%;
	margin-bottom: 5;
	width: 100%
}
/*
div.code table th
{	
	background:	#EFEFF7;
	border-bottom-color: #C8CDDE;
	border-bottom-style: solid;
	border-bottom-width: 1;
	color: #000066;
	font-weight: bold;
	padding-left: 5;
	padding-right: 5;
}

div.code table td
{
	background:	#F7F7FF;
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1;
	padding-left: 5;
	padding-right: 5;
	padding-top: 5;
}
*/

div.alert table
{
	border: 0;
	font-size: 100%;
	width:	100%;
}
/*
div.alert table th
{
	background:	#EFEFF7;
	border-bottom-width: 0;
	color: #000066;
	padding-left: 5;
	padding-right: 5;
}

div.alert table td
{
	background:	#F7F7FF;
	border-top-color: #FFFFFF;
	border-top-style: solid;
	border-top-width: 1;
	padding-left: 5;
	padding-right: 5;
}
*/

.copyCode
{
	color: #0000ff;
	font-size: 90%;
	font-weight: normal;
}

.downloadCode
{
	color: #0000ff;
	font-size: 90%;
	font-weight: normal;
}

.viewCode
{
	color: #0000ff;
	font-size: 90%;
	font-weight: normal;
}

div.code pre
{
	font-family:	Monospace, Courier New, Courier;
	font-size: 105%;
	color:	#000066;
	word-wrap:	break-word;
}

code
{
	font-family:	Monospace, Courier New, Courier;
	font-size: 105%;
	color:	#000066;
}

dl
{
	margin-top:	0;
	padding-left:	1;
}

dt
{
	font-style:	italic;
}

dd
{
	margin-bottom:	0;
	margin-left:	0;
}

ul
{
	margin-left: 17;
	list-style-type: disc;
}

ul ul
{
	margin-bottom: 3;
	margin-left: 17;
	margin-top: 3;
	list-style-type: disc;
}

ol
{
	margin-left: 24;
	list-style-type: decimal;
}

ol ol
{
	margin-bottom: 4;
	margin-left: 24;
	margin-top: 3;
	list-style-type: lower-alpha;
}

li
{
	margin-bottom: 3;
}

p
{
	margin-top: 0;
	margin-bottom: 15;
}

.beta
{
	color: #FF0000;
	font-weight: bold; 
}

.tip
{
	color:	#0000FF;
	font-style: italic;
	cursor:hand;
	text-decoration:underline;
}

.languageFilter
{
	color:	#0000FF;
	cursor:hand;
	text-decoration:underline;
	padding-bottom:4;
}

.math
{
	font-family: Times New Roman;
	font-size: 125%
}

.sourceCodeList
{
	font-family: Verdana;
	font-size: 90%;	
}

pre.viewCode
{
	width: 100%;
	overflow: auto;
}

MSHelp\:link
{
	text-decoration: underline;
	color: #0000ff; 
	hoverColor: #3366ff;
	filterString: ;
}
/* Style sheet optimized for IE4x - Last updated 01/16/01 RWF */
/* Added Table.nested, TH, TD for nested tables -- 02/26/01 */

body   		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Sans Serif;
		margin-left: 0em;
		padding-left: 1.5em; }


a:link, a:visited 	{ color: #0000FF; text-decoration:underline;}

a:active, a:hover 	{ color: #FF0000;  cursor:hand; text-decoration:underline;}

/* Puts a little more breathing room above related topics link. - AMS*/
a.#reltopics 		{ position:relative; top:1em; }

h1
		{ font-size: 125%; 
		margin-bottom: .5em; clear:both; width: 85%; }

h2
		{ font-size: 110%;  
		margin-top: 1.5em;
		margin-bottom: .5em; clear:both; }

h3
		{ font-size: 100%; 
		margin-top: 1.2em;  
		margin-bottom: .5em; clear:both; }

h4
		{ font-size: 100%; 
		margin-top: 1.2em;  
		margin-bottom: .5em; clear:both; }

h5
		{ font-size: 100%; 
		margin-top: 1.2em;  
		margin-bottom: .5em; clear:both; }

p
		{ margin-top: .6em; 
		margin-bottom: .6em; }
			
ol
		{ margin-top: .5em; 
		margin-bottom: 0em; 
		margin-left: 2.1em; 
		padding-left: 0em;
		margin-right:2.1em; }
	
ul
		{ margin-top: .6em; 	
		margin-bottom: 0em;
		list-style-type: disc;
		margin-left: 1.5em;
		padding-left: 0em;
		margin-right: 1.5em; }
		
li
		{ margin-bottom: .7em; clear:both; }

dd
		{ margin-bottom: 0em; 
		margin-left: 1.5em; } 

/* for defined terms, follow the Document Conventions listing in the Microsoft Manual of Style: */
/* Keywords, functions, and anything else the user must enter exactly as shown are bold--add font-weight: bold; to the dt tag */
/* Variables, book titles, and placeholders the user must provide are italic--add font-style: italic; to the dt tag */
/* pre-defined arguments are bold and italic--add font-weight: bold; and font-style: italic; to the dt tag */

dt
		{ margin-top: 1em; }

pre
		{ margin-top: .5em;
		margin-bottom: .5em; }

code
		{ font-family: Courier New; 
		font-size: 1.1em; }

table
		{ font-size: 100%;
		margin-top: 1em; 
		margin-bottom: 1em; }
		
th
		{ text-align: left;
		background: #DDDDDD;
		vertical-align: bottom;
		padding: .2em;
		padding-left: .45em;
		padding-right: .5em;}
		
tr
		{ vertical-align: top; }

td
		{ background: #EEEEEE;
		vertical-align: top;
		padding: .2em;
		padding-left: .45em;
		padding-right: .5em;}


/****      extended class styles ************************/
/*                       					*/
/* add comment tags to disable the style 		*/

p.indent	{ margin-left: 1.3em; }       /* used to indent text for notes and warnings; use this instead of the blockquote tag */

p.indent2	{ margin-left: 3.5em; }   /* used to indent text a second level under the first  indent */

P.indentGray	{ color: #666666; } /*  used in quad-method procedures     */
		
p.procLabel	{ font-size: 100%; 	
		font-weight: bold; clear: both; width: 85%; margin-top: 2em; }
		
p.uatshoot	{ font-weight: bold; margin-bottom: -.5em; margin-top: 1em; }

/***********************************************/
/* these class styles are used for the expanding and collapsing text files (expand function in shared.js)  */

#expand 	{margin-bottom: 0.6em; margin-left: 0em; margin-right: 0em;}

a:link.expandToggle, a:visited.expandToggle 	{color:#000000; font-weight: bold; text-decoration:none;}

a:hover.expandToggle, a:active.expandToggle 	{color:#0000FF;}
 
img.expand 	{ border: none; margin-right: 0.5em; width:.8em;}
		
div.expand	{ margin-left: 1.5em; margin-right: 1.5em;margin-bottom: 1em; display:none;}



/***********************************************/
/* this class for expand collapse appearing in a table  */

table.uatshoot		{background-color: #FFFFFF; width: 90%; }

table.uatshoot td	{ padding: 0px 0px 0px 5px; }

a:link.uatshoot, a:visited.uatshoot 	{color:#000000; font-weight: normal;  text-decoration:none;}

a:hover.uatshoot, a:active.uatshoot 	{color:#0000FF; text-decoration: none; }


/*******************************************/
/*  these classes are for thumbnail art      */

a:link img.thumbnail	{border-color: #0000FF;}

a:active img.thumbnail	{ border-color: #FF0000;}

a:hover img.thumbnail	{border-color: #FF0000;}

img.thumbnail		{vertical-align: top; margin-left: 0;
			 width:90; border-width:1;}
		 
div.thumbnail		{float:left; width: 105; margin-top: 1em; margin-bottom: -0.3em; 
			 clear: both;  }

/*********************************************/				
/* this class style is used for the navigation tree in MMC */
		
p.navTree	{ margin-top: .2em; }

ul.navTree 	{  list-style-type: none; }

li.branch	{ margin-top: -.5em; margin-bottom: .6em;}

a.where		{}	/* use for the expand <a> tag */

/***************************************************************/
/* these class styles are used for <span> tags  simulating buttons & their div */

#buttonMenu	{ padding:  0.5em 0.3em 0.1em 0.3em;
			  padding-left:6px;
			  border-bottom: thin solid #999999;
			  background: #BBBBBB;
			  vertical-align:top;
			  z-index:2;
			  visibility:visible;
			  left:0; top:0; 
			  text-align:left;
			  margin:0 1em 0 0; 
			  position:absolute;
			  width: 100%;
			  }
						  
a:link.button, a:visited.button, span.button {
			  border-top-color: #EEEEEE ;
			  border-left-color: #EEEEEE ;
			  border-bottom-color: #666666 ;
			  border-right-color: #666666 ;
			  background-color: #DDDDDD ;
			  color:#0000FF;
			  text-decoration: none;
			  text-align: center;
			  font-weight: bold ;
			  height:1.5em; width:17px; cursor:hand;
			  border-style: solid; border-width: 1;
			}
			
a:active.button, a:hover.button	{
			  border-top-color: #666666 ;
			  border-left-color: #666666 ;
			  border-bottom-color: #EEEEEE ;
			  border-right-color: #EEEEEE;
			  background-color: #FFFFFF;
			  text-decoration: none;
			  text-align: center;
			  font-weight: bold ;
			  height:1.5em; width:17px; cursor:hand;
			  border-style: solid; border-width: 1;
			  }

/* The following span is used to display
items that have no entries  - AMS */
			  
span.buttoninactive {background: #C0C0C0;
					border: 1 solid #eeeeee;
					height: 1.4em;
					width: 1.4em;
					text-align: center;
					font-weight: bold;
					color: #808080;
					vertical-align:top;
					cursor: default;
					}

#list		{ padding:.4em 0.3em 100% 0.3em;
			  overflow:auto;
			  line-height:0.4em;
			  height:100%; width: 100%;
			  z-index:1;
			  left:0; top:0; 
			  text-align:left;
			  margin:0; 
			  position:absolute;
			  margin-left:1em; line-height:100%;
			  }
			  
p.marker	{ font-weight:bold;
				margin-top: 2em;
				color:#000000;
				font-size:110%;
				}			  
/************************************************/
/* class styles reserved for mouseover/mouseout DHTML   */

.cold		{}
.hot		{}

/**********************************************************************/
/* ID styles reserved for <a> tags  calling OCX's within HTML Help by creating  OBJECTS */


#wPopup		{}

a:link#wPopup, a:visited#wPopup	{color: #006600;}
a:hover#wPopup, a:active#wPopup	{color: #FF0000;}


img.popup 	{border: none; margin-right: 0.5em; vertical-align:middle;}

#shortcut		{}

img.shortcut 	{border: none; margin-right: 0.5em; vertical-align:middle;}

#specLoc		{}

#altLoc		{}

p.note,p.tip, p.important, p.caution, p.warning 
		{ font-weight:bold; clear:both;
		 margin-top:1em; 
		 margin-bottom:-.25em; }    

img.alert		{border:none;} 		 /* for icon images - note, tip, important, caution, warning*/

/************************************************/
/* styles used to modify the appearance of XML popups   */

SPAN.XMLPopup 	{margin-bottom:.75em;height: 100%; width: 100%; border: solid; border-width:1px; background-color: #FFFFCC; }


DIV.PopTerm 	{ font-weight: bold; margin-left: 1em; margin-top: .75em; margin-right: 1em; }		
DIV.PopDef 		{ line-height: 1.25em; margin-left: 1em; margin-top: .25em; margin-right: 1em;}		
DIV.PopSeeAlso	{ margin-left: 1em; margin-top: .5em;  margin-right: 1em;}
DIV.PopDef UL 	{ margin-left: 1.45em; line-height: 1.25em; }

/************************************************/
/* Styles for listed-out/hard-coded links for Related Topics with page GIF */

p.#relTopics	{ font-weight:bold; margin-top: 2em;}
img.relTopics 	{ border: none; }
p.relTopics	{ margin-left: 1.5em; margin-top: -1.7em; margin-bottom: .5em;}

/***********************************/
/*   Style for print only functionality used with external URL link   coUA_print.css*/

span.printonly	{display:none }

/***********************************/
/*   Styles for checklists   */

.userData 	{behavior:url(#default#userdata); }  /*sets persistance*/

#checklist	{width:100%;  text-align:left; margin:0.3em 0em;}

#checklist li 	{text-indent:0.2em;}

/*********************************/				
/*  these classes are for previous next navigation     */

a:hover.navbar, a:active.navbar		{}
a:link.navbar, a:visited.navbar		{}
			  
#nav	{ left:0; top:0px;
	  text-align:left; 
	  margin:0; 
	  position:absolute;
	  padding-bottom: 1px; padding-top: 3px;
	  padding-right:6px; padding-left:5px;
	  align:top;
	  visibility:hidden;
	  z-index:1;  }

#text	{ left:0; top:0px;
	   margin:0; 
	   position:absolute;
	   padding:10px;
	   overflow:auto;
	   height:100%;
	   z-index:1; 
         	   background-repeat:no-repeat;
	   background-position: bottom right;
	   background-attachment:fixed; }


#wPopupWeb	{}

a:link#wPopupWeb			{color: #006600;}
a:hover#wPopupWeb		{color: #FF0000;}
a:active#wPopupWeb		{color: #FF0000;}
a:visited#wPopupWeb		{color: #006600;}

#shortcutWeb	{}

#specLocWeb	{}

#relTopicsWeb	{}

#altLocWeb	{}

div.popup
{
	visibility:hidden; z-index:3;
	position:absolute; 
    top:200; left:200; 
    width:250; padding:6px; 
    background-color:#FFFFCC;
    border-style: solid;
    border-width: 1;
    border-color: #666666;
}

DIV.UAbrand	{ direction: RTL; margin-top:-.25em; margin-right: -.25em; margin-bottom: -3em; }


TABLE.nested
{
    BACKGROUND-COLOR: #ffffff;
}

TABLE.nested TH
{
    BACKGROUND-COLOR: #bbbbbb;
}

TABLE.nested TD
{
    BACKGROUND-COLOR: #dddddd;
}
